<!-- src/app/signup/signup.component.html -->
<div class="flex flex-col md:flex-row justify-center md:h-screen md:p-32 bg-purple-700 overflow-hidden">
    <!-- Left Section with Image and Title -->
    <div class="md:w-1/2 bg-cover bg-center flex flex-col items-center justify-center bg-purple-700 md:order-1 md:rounded-l-md md:ml-36 relative">
      <div class="relative z-10 text-center text-white">
        <h1 class="text-4xl font-bold mb-4">Talky</h1>
        <h2 class="text-2xl mb-2">Chat with many folks worldwide</h2>
        <p class="text-yellow-500 mb-4">FOR FREE</p>
      </div>
  
      <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-full bg-cover bg-center z-0">
        <img
          src="https://images.pexels.com/photos/4353618/pexels-photo-4353618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Talky Image"
          class=" md:rounded-l-md w-full h-full opacity-50"
        />
      </div>
    </div>
  
    <!-- Right Section with Signup Form -->
    <div class="md:w-1/2 p-8 md:rounded-r-md bg-white md:order-2 md:mr-36">
      <h2 class="text-3xl font-bold mb-4">Sign Up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <!-- Username Input -->
        <!-- Full Name Input -->
        <div class="mb-4">
            <label for="fullName" class="text-gray-500">Full Name</label>
            <input id="fullName" formControlName="fullName" class="rounded-md border border-purple-500 p-2 w-full focus:outline-none" type="text" placeholder="John Doe" />
        </div>  

        <div class="mb-4">
          <label for="username" class="text-gray-500">User Name</label>
          <input
            id="username"
            formControlName="user_name"
            class="rounded-md border border-purple-500 p-2 w-full focus:outline-none"
            type="text"
            placeholder="John Doe"
          />
        </div>

  
        <!-- Email Input -->
        <div class="mb-4">
          <label for="email" class="text-gray-500">Email</label>
          <input
            id="email"
            formControlName="email"
            class="rounded-md border border-purple-500 p-2 w-full focus:outline-none"
            type="text"
            placeholder="abc123@gmail.com"
          />
        </div>
  
        <!-- Password Input -->
        <div class="mb-4">
          <label for="password" class="text-gray-500">Password</label>
          <input
            id="password"
            formControlName="password"
            class="rounded-md border border-purple-500 p-2 w-full focus:outline-none"
            type="password"
            placeholder="............."
          />
        </div>
  
        <!-- Re-enter Password Input -->
        <div class="mb-4">
          <label for="rePassword" class="text-gray-500">Re-enter Password</label>
          <input
            id="rePassword"
            formControlName="rePassword"
            class="rounded-md border border-purple-500 p-2 w-full focus:outline-none"
            type="password"
            placeholder="............."
          />
        </div>
  
        <!-- Privacy Policy and Terms of Service Checkboxes -->
        <div class="flex items-center mb-4">
          <input id="privacyPolicy" formControlName="privacyPolicy" type="checkbox" class="mr-2" />
          <label for="privacyPolicy">Privacy policy</label>
        </div>
        <div class="flex items-center mb-4">
          <input id="termsOfService" formControlName="termsOfService" type="checkbox" class="mr-2" />
          <label for="termsOfService">I've read and agreed with the Terms of Service</label>
        </div>
  
        <!-- Signup Button -->
        <div class="mb-4">
          <button type="submit" class="bg-purple-500 text-white p-2 rounded-md w-full mb-4">Sign Up</button>
        </div>
  
        <!-- OR Text -->
        <p class="text-center mb-4">OR</p>
  
        <!-- Signup with Google Button -->
        <div class="flex justify-center mb-4">
          <button class="bg-white text-gray-900 p-2 rounded-full w-34 flex items-center justify-center border border-gray-900">
            <i class="fab fa-google mr-2"></i> Signup with Google
          </button>
        </div>
  
        <!-- Already have an account? Sign in -->
        <p class="text-center text-gray-500">
          Already have an account?
          <span class=" text-blue-500 cursor-pointer" routerLink="/login">Sign in</span>
        </p>
      </form>
    </div>
  </div>
  