<div class="flex flex-col md:flex-row h-screen  p-4 md:p-40 bg-purple-900">
  <!-- Left Section with Image -->
  <div class="w-full md:mr-36 md:w-1/2 bg-cover bg-center md:order-2 md:rounded-r-md relative" style="background-image: url('assets/images/screen.jpg'); min-height: 400px;">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white">
      <h1 class="text-4xl font-bold mb-4">Every new friend is a new adventure</h1>
      <p class="text-m">Let's get connected</p>
    </div>
  </div>

  <!-- Right Section with Login Form -->
  <div class="w-full md:w-1/2 p-4 md:ml-36 md:p-8 flex items-center justify-center bg-gray-100 md:rounded-l-md md:order-1">
    <div class="w-full max-w-md">
      <h2 class="text-3xl font-bold mb-6">Login</h2>

      <!-- Email Input -->
      <div class="mb-4">
        <div class="flex items-center">
          <i class="fas fa-envelope text-purple-500 mr-2"></i>
          <span class="text-gray-900 cursor-pointer" (click)="focusEmailInput()">Enter your email</span>
        </div>
        <input [(ngModel)]="email" #emailInput class="border border-purple-500 rounded-md ml-2 focus:outline-none p-2 w-full" type="text" placeholder="Email" />
      </div>

      <!-- Password Input -->
      <div class="mb-6">
        <div class="flex items-center">
          <i class="fas fa-lock text-purple-500 mr-2"></i>
          <span class="text-gray-900 cursor-pointer" (click)="focusPasswordInput()">Enter your password</span>
        </div>
        <input [(ngModel)]="password" #passwordInput class="border border-purple-500 rounded-md ml-2 focus:outline-none p-2 w-full" type="password" placeholder="Password" />
      </div>

      <div class="flex items-center mb-4 mt-6">
        <span class="text-blue-500 cursor-pointer" routerLink="/forgot-password">Forgot password?</span>
      </div>

      <!-- Login Button -->
      <button class="bg-purple-500 text-white p-2 w-full rounded-md mb-4" (click)="login()">Login</button>

      <!-- Signup Text -->
      <div class="text-center">
        <p>Don't have an account?   <span class="text-blue-500 cursor-pointer" routerLink="/signup">Signup now</span></p>
      </div>
    </div>
  </div>
</div>
