<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>WELCOME To TALKY <%=Name%></th>
        </tr>
        <tr>
            <td>
                <p>
                    Hi <%=Name%>,
                </p>
            
                <p>
                    <img src="https://cdn.pixabay.com/photo/2018/04/18/18/52/hands-3331229_1280.jpg" alt="">
                </p>
               

                <div style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333; background-color: #f8f8f8; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <h2 style="color: #3498db; margin-bottom: 10px;">Welcome Aboard!</h2>
                    <p style="font-size: 16px; line-height: 1.6;">
                        Thank you for signing up. We greatly appreciate your decision to join us. Your privacy is our top priority, so please keep your password confidential and do not share it with anyone.
                    </p>
                    <p style="font-size: 18px; font-weight: bold; color: #27ae60; margin-top: 20px;">Ready to Dive In?</p>
                    <p style="font-size: 16px; line-height: 1.6;">
                        Welcome aboard! Sign in now to unlock the full potential of our services and enjoy a seamless experience.
                    </p>
                    <p style="font-size: 16px; line-height: 1.6;">Thank you for choosing us!</p>
                </div>
                
            </td>
        </tr>
    </table>
</body>
</html>