<!-- <app-navbar></app-navbar> -->
<!-- Forgot Password Component -->
<div class="flex flex-col md:flex-row h-screen md:p-48 bg-white overflow-hidden">

  <!-- Left Section with Image (Hidden on Small Screens) -->
  <div class="hidden md:block p-12 w-1/2 bg-cover bg-center rounded-l-md relative" style="background-image: url('/assets/images/password.jpg'); ">
    <!-- You can replace 'your_image_url' with the actual URL of your image -->
  </div>

  <!-- Right Section with Form -->
  <div class="w-full md:w-1/2 p-20 rounded-r-md flex flex-col items-center justify-center bg-white-900">

      <!-- Form Title -->
      <h2 class="text-3xl font-bold mb-4 w-full">Change Password</h2>
    
      <!-- New Password Input -->
      <div class="mb-4 w-full relative">
        <label for="newPassword" class="text-gray-900">New Password</label>
        <div class="flex items-center rounded-md bg-white border border-purple-500 overflow-hidden mt-4">
          <i class="fas fa-lock text-purple-500 p-2"></i>
          <input id="newPassword" type="password" placeholder=".........." class="focus:outline-none flex-1 p-2" />
          <span class="text-blue-500 cursor-pointer p-2">Show</span>
        </div>
      </div>
    
      <!-- Confirm New Password Input -->
      <div class="mb-6 w-full relative">
        <label for="confirmNewPassword" class=" text-gray-900">Confirm New Password</label>
        <div class="flex items-center rounded-md bg-white border border-purple-500 overflow-hidden mt-4">
          <i class="fas fa-lock text-purple-500 p-2"></i>
          <input id="confirmNewPassword" type="password" placeholder="Password" class="focus:outline-none flex-1 p-2" />
          <span class="text-blue-500 cursor-pointer p-2">Show</span>
        </div>
      </div>
    
      <!-- Error Message -->
      <p class="text-red-500 mb-4 w-full" *ngIf="!passwordsMatch">New password and confirm new password do not match</p>      
      <!-- Buttons -->
      <div class="flex items-center justify-between gap-8">
        <button class="bg-red-500 text-white px-8 py-2 rounded-md transition duration-300 hover:bg-red-600">Close</button>
        <button class="bg-green-500 text-white px-8 py-2 rounded-md transition duration-300 hover:bg-green-600">Submit</button>
      </div>
    
  </div>

</div>
